<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <meta name="copyright"
              content="© 2025 David Aderbauer & The Cata-Log Contributors." />
        <meta name="license" content="AGPLv3" />
        <link rel="stylesheet"
              href="https://unpkg.com/@digicreon/mucss/dist/mu.orange.css" />
        <link rel="icon"
              type="image/png"
              href="{{ url_for('static', path='favicon-96x96.png').path }}"
              sizes="96x96" />
        <link rel="icon"
              type="image/svg+xml"
              href="{{ url_for('static', path='favicon.svg').path }}" />
        <link rel="shortcut icon"
              href="{{ url_for('static', path='favicon.ico').path }}" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{{ url_for('static', path='apple-touch-icon.png').path }}" />
        <meta name="apple-mobile-web-app-title" content="Cata-Log" />
        <link rel="manifest"
              href="{{ url_for('static', path='site.webmanifest').path }}" />
        <title>Cata-Log

            {% block page_title %}
            {% endblock page_title %}

        </title>
    </head>
    <body id="top">
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('get_providers_webpage').path }}">
                            <h1>Cata-Log</h1>
                        </a>
                    </li>
                    <li>
                        <a class="contrast" href="{{ url_for('swagger_ui_html').path }}">API Overview</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <details class="dropdown">
                            <summary role="button" class="outline secondary">Theme</summary>
                            <ul>
                                <li>
                                    <a href="#" data-theme-switcher="auto">Auto</a>
                                </li>
                                <li>
                                    <a href="#" data-theme-switcher="light">Light</a>
                                </li>
                                <li>
                                    <a href="#" data-theme-switcher="dark">Dark</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>

        </header>
        <main class="container">

            {% block main_content %}
            {% endblock main_content %}

        </main>
        <footer class="container">
            <hr />
            <nav>
                <ul>
                    <li>&copy; 2026 David Aderbauer &amp; The Cata-Log Contributors</li>
                </ul>
                <ul>
                    <li>
                        <a href="#top">Back up</a>
                    </li>
                </ul>
            </nav>

        </footer>
        <script>const root_url={{ request.scope.root_path }}</script>
        <script src="{{ url_for('static', path='js/theme-switcher.js').path }}"></script>

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>
