{% extends "layouts/base.html.jinja" %}

{% block page_title %}
    Providers
{% endblock page_title %}

{% block main_content %}
    <div class="row">
        <div class="col-6">
            <article>
                <h3>Add A Provider</h3>

                {% include "partials/_provider_form.html.jinja" %}

            </article>
            <article>
                <h3>Your Providers</h3>
                <div class="overflow-auto">
                    {% for provider in providers %}

                        {% include "partials/_provider.html.jinja" %}

                    {% endfor %}
                </div>
            </article>
        </div>
        <article class="col-6">
            <h3>Available Providers</h3>
            <aside class="sticky-top" style="overflow-y: auto; max-height: 90vh;">
                <div class="overflow-auto">
                    {% for provider_info in available_providers %}

                        {% include "partials/_provider_info.html.jinja" %}

                    {% endfor %}
                </div>
            </aside>
        </article>
    </div>
{% endblock main_content %}


{% block scripts %}
    <script src="{{ url_for('static', path='js/provider-form.js').path }}"></script>
    <script src="{{ url_for('static', path='js/provider-actions.js').path }}"></script>
{% endblock scripts %}
